<!DOCTYPE html>
<html>
  <head>
    <title>Campfire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "サインup", "/users/sign_up" %><br>
    <%= link_to "サインin", "/users/sign_in" %><br>
    <%= link_to "サインout", "/users/sign_out", :method => "delete" %><br>
    <% if user_signed_in? %>
    Your Account No: <%= current_user.id %>
    <% end %>
   
    <%= yield %>
  </body>
</html>
